

<div [hidden]="submitted"  class="container">
  <h1>Hero Form</h1>
  <form (ngSubmit)="onSubmit()"  #heroForm="ngForm"  novalidate>
    <!--当在表单中使用[(ngModel)]时，必须要定义name属性。-->
    {{diagnostic}}
    <div class="form-group">
      <label for="name" class="center-block">Name</label>
      <!--指令的 exportAs 属性告诉 Angular 如何链接模板引用变量到指令。
      这里把name设置为ngModel是因为ngModel指令的exportAs属性设置成了 “ngModel”。-->
      <input type="text" class="form-control" id="name"
             required
             [(ngModel)]="model.name" name="name"
             #name="ngModel">

      <!--<input id="name" class="form-control"-->
             <!--formControlName="name" required >-->

      <div [hidden]="name.valid || name.pristine"
           class="alert alert-danger">
        Name is required
      </div>

      <!--<div *ngIf="name.invalid && (name.dirty || name.touched)"-->
           <!--class="alert alert-danger">-->

        <!--<div *ngIf="name.errors.required">-->
          <!--Name is required.-->
        <!--</div>-->
        <!--<div *ngIf="name.errors.minlength">-->
          <!--Name must be at least 4 characters long.-->
        <!--</div>-->
        <!--<div *ngIf="name.errors.forbiddenName">-->
          <!--Name cannot be Bob.-->
        <!--</div>-->
      <!--</div>-->
    </div>

    <div class="form-group">
      <label for="alterEgo">Alter Ego</label>
      <input type="text"  class="form-control" id="alterEgo"
             [(ngModel)]="model.alterEgo" name="alterEgo">
    </div>

    <div class="form-group">
      <label for="power">Hero Power</label>
      <select class="form-control"  id="power"
              required
              [(ngModel)]="model.power" name="power">

        <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid" >Submit</button>

  </form>
</div>
<div [hidden]="!submitted">
  <h2>You submitted the following:</h2>
  <div class="row">
    <div class="col-xs-3">Name</div>
    <div class="col-xs-9  pull-left">{{ model.name }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Alter Ego</div>
    <div class="col-xs-9 pull-left">{{ model.alterEgo }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Power</div>
    <div class="col-xs-9 pull-left">{{ model.power }}</div>
  </div>
  <br>
  <button class="btn btn-primary" (click)="submitted=false">Edit</button>
</div>
<br>
<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
  <fieldset ngModelGroup="user">
    <input
      type="text"
      required
      minlength="3"
      name="username"
      [(ngModel)]="username"
      #userName="ngModel">
    <hr>
    <p>Name控件的valid状态：{{userName.valid}} - 表示控件有效</p>
    <p>Name控件的invalid状态：{{userName.invalid}} - 表示控件无效</p>
    <p>Name控件的pristine状态：{{userName.pristine}} - 表示控件值未改变</p>
    <p>Name控件的dirty状态：{{userName.dirty}} - 表示控件值已改变</p>
    <p>Name控件的touched状态：{{userName.touched}} - 表示控件已被访问过</p>
    <p>Name控件的untouched状态：{{userName.untouched}} - 表示控件未被访问过</p>
    <div *ngIf="userName.errors?.required">请您输入用户名</div>
    <div *ngIf="userName.errors?.minlength">
      用户名的长度必须大于 {{userName.errors?.minlength.requiredLength}}，当前的长度为
      {{userName.errors?.minlength.actualLength}}
    </div>
    <input type="password" ngModel name="password">
  </fieldset>
  <button type="submit">提交</button>
  <hr>
  {{loginForm.value | json}}
</form>

<form #loginForm2="ngForm">
  Angular版本：
  <div *ngFor="let version of versions;">
    <input
      [attr.id]="version"
      name="version"
      ngModel
      required
      [value]="version"
      type="radio">
    <label [attr.for]="version">{{version}}</label>
  </div>
  <hr>
  {{loginForm2.value | json}}
</form>

<form #loginForm3="ngForm">
  Angular版本：
  <select name="version" [ngModel]="version" required>
    <option
      *ngFor="let version of versions;"
      [value]="version">
      {{version}}
    </option>
  </select>
  <label></label>
  <hr>
  {{loginForm3.value | json}}
</form>
